<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.tmmt.sync</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>-lc</string>
    <string>TMMT_ROOT="__TMMT_ROOT__" GIT_BRANCH="__GIT_BRANCH__" SYNC_MODE="__SYNC_MODE__" "__SYNC_SCRIPT__"</string>
  </array>
  <key>StartInterval</key>
  <integer>900</integer>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>__LOG_DIR__/launchd.out.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/launchd.err.log</string>
</dict>
</plist>
